@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

:root {
    --accent: #424242;
    --accent-code: #f3f3f3;
    --accent-code-border: #6d6d6d;
}

.lefty {
    text-align: left !important;
    justify-content: left !important;
}

#progressBar {
    top: 0%;
    background: linear-gradient(to right, var(--accent-bar1), var(--accent-bar2));
}

h3 {
    margin-top: 30px !important;
}

a:hover {
    border: none !important;
}

html {
    background-color: white;
}


#header {
    background-color: var(--accentdim1);
}

#header h1,
a {
    color: var(--accentdark) !important;
    font-weight: 600;
}


#nav a:hover {
    filter: brightness(1.3) !important;
}

#header img {
    background-color: var(--accentdim1);
}


#nav .active {
    background-color: var(--accent) !important;
    color: var(--white) !important;
    font-weight: 700;
}

body {
    margin-top: 0%;
    scroll-behavior: smooth !important;
}

.shade-two {
    background-color: white !important;
}

.shade-three {
    background-color: white !important;
}

.shade-four {
    background-color: white !important;
}

#footer {
    background-color: white !important;
}

.linK {
    color: var(--accent) !important;
    font-weight: 600;
    border: none !important;
}

.linK:hover {
    color: var(--accent) !important;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

code {
    border: 1px solid var(--accent-code-border);
    background-color: var(--accent-code);
    color: var(--accentdark);
    font-size: 20px;
    user-select: text !important;
    margin: 0px 0px 0px 0px !important;
    border-radius: 15px !important;
}


.homeSideBar {
    background-color: var(--accent-code) !important;
}

.item {
    border: 2px solid var(--accent-code);
    border-radius: 20px;
    transition: 0.2s;
}

.item header {
    border-radius: 0px 0px 20px 20px;
    background-color: var(--accent-code);
    color: var(--black);
}

.item h3 {
    font-size: 30px !important;
    font-weight: 800 !important;
    margin-top: 0px !important;
}

.item:hover {
    box-shadow: var(--shadowtiny);
    transition: 0.2s;
}

.item img {
    border-radius: 20px 20px 0px 0px;
}

@media screen and (max-height: 700px) {
    #scrollTop {
        top: 90% !important;
    }
}

article p {
    margin-bottom: 5px !important;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-weight: 600;
    color: var(--accent) !important;

}

article h1 {
    font-size: 40px;
    margin-top: 40px;
}

article a {
    color: var(--accentdark) !important;
    border-bottom: 1px solid var(--accentdark) !important;
}

.item_container {
    margin-bottom: 40px;
}

.blogImage {
    width: 500px;
    height: 300px;
}

.line-numbers {
    background-color: #42424200 !important;
    padding: 0px !important;
    margin: 0px !important;
}


/* change text color selection */
::-moz-selection {
    background: greenyellow !important;
    color: black !important;
}

::selection {
    background: greenyellow !important;
    color: black !important;
}